.vs/RemoteCtrl/FileContentIndex/36f364dd-77bd-496a-a2e8-fb1ebe1e5298.vsidx
.vs/RemoteCtrl/FileContentIndex/49a02fc8-fc7a-487f-8ef2-423258715c7c.vsidx
.vs/RemoteCtrl/v17/.suo
.vs/RemoteCtrl/v17/Browse.VC.db
.vs/RemoteCtrl/v17/Browse.VC.db-shm
.vs/RemoteCtrl/v17/Browse.VC.db-wal
.vs/RemoteCtrl/v17/Browse.VC.opendb
.vs/RemoteCtrl/v17/DocumentLayout.backup.json
.vs/RemoteCtrl/v17/DocumentLayout.json
.vs/RemoteCtrl/v17/ipch/e3a56daf170bfc4.ipch
RemoteClient/x64/Debug/pch.obj
RemoteClient/x64/Debug/RemoteClient.exe.recipe
RemoteClient/x64/Debug/RemoteClient.ilk
RemoteClient/x64/Debug/RemoteClient.log
RemoteClient/x64/Debug/RemoteClient.obj
RemoteClient/x64/Debug/RemoteClient.pch
RemoteClient/x64/Debug/RemoteClient.res
RemoteClient/x64/Debug/RemoteClientDlg.obj
RemoteClient/x64/Debug/vc143.idb
RemoteClient/x64/Debug/vc143.pdb
RemoteClient/x64/Debug/RemoteClient.tlog/CL.command.1.tlog
RemoteClient/x64/Debug/RemoteClient.tlog/Cl.items.tlog
RemoteClient/x64/Debug/RemoteClient.tlog/CL.read.1.tlog
RemoteClient/x64/Debug/RemoteClient.tlog/CL.write.1.tlog
RemoteClient/x64/Debug/RemoteClient.tlog/link.command.1.tlog
RemoteClient/x64/Debug/RemoteClient.tlog/link.read.1.tlog
RemoteClient/x64/Debug/RemoteClient.tlog/link.secondary.1.tlog
RemoteClient/x64/Debug/RemoteClient.tlog/link.write.1.tlog
RemoteClient/x64/Debug/RemoteClient.tlog/rc.command.1.tlog
RemoteClient/x64/Debug/RemoteClient.tlog/rc.read.1.tlog
RemoteClient/x64/Debug/RemoteClient.tlog/rc.write.1.tlog
RemoteClient/x64/Debug/RemoteClient.tlog/RemoteClient.lastbuildstate
RemoteCtrl/x64/Debug/pch.obj
RemoteCtrl/x64/Debug/RemoteCtrl.exe.recipe
RemoteCtrl/x64/Debug/RemoteCtrl.ilk
RemoteCtrl/x64/Debug/RemoteCtrl.log
RemoteCtrl/x64/Debug/RemoteCtrl.obj
RemoteCtrl/x64/Debug/RemoteCtrl.pch
RemoteCtrl/x64/Debug/RemoteCtrl.res
RemoteCtrl/x64/Debug/vc143.idb
RemoteCtrl/x64/Debug/vc143.pdb
RemoteCtrl/x64/Debug/RemoteCtrl.tlog/CL.command.1.tlog
RemoteCtrl/x64/Debug/RemoteCtrl.tlog/Cl.items.tlog
RemoteCtrl/x64/Debug/RemoteCtrl.tlog/CL.read.1.tlog
RemoteCtrl/x64/Debug/RemoteCtrl.tlog/CL.write.1.tlog
RemoteCtrl/x64/Debug/RemoteCtrl.tlog/link.command.1.tlog
RemoteCtrl/x64/Debug/RemoteCtrl.tlog/link.read.1.tlog
RemoteCtrl/x64/Debug/RemoteCtrl.tlog/link.secondary.1.tlog
RemoteCtrl/x64/Debug/RemoteCtrl.tlog/link.write.1.tlog
RemoteCtrl/x64/Debug/RemoteCtrl.tlog/rc.command.1.tlog
RemoteCtrl/x64/Debug/RemoteCtrl.tlog/rc.read.1.tlog
RemoteCtrl/x64/Debug/RemoteCtrl.tlog/rc.write.1.tlog
RemoteCtrl/x64/Debug/RemoteCtrl.tlog/RemoteCtrl.lastbuildstate
x64/Debug/RemoteClient.exe
x64/Debug/RemoteClient.pdb
x64/Debug/RemoteCtrl.exe
x64/Debug/RemoteCtrl.pdb
RemoteClient/RemoteClient.vcxproj.user
RemoteCtrl/RemoteCtrl.vcxproj.user
.vs/RemoteCtrl/FileContentIndex/11edf479-c943-42ea-96ad-2630f392c0af.vsidx
.vs/RemoteCtrl/FileContentIndex/5cca72e1-f7a0-4549-b990-189b8371da54.vsidx
.vs/RemoteCtrl/v17/fileList.bin
.vs/RemoteCtrl/v17/Solution.VC.db
.vs/RemoteCtrl/v17/Solution.VC.db-shm
.vs/RemoteCtrl/v17/Solution.VC.db-wal
.vs/RemoteCtrl/v17/ipch/4de8c3d6c8ad7d56.ipch
RemoteCtrl/x64/Debug/ServerSocket.obj
.vs/RemoteCtrl/FileContentIndex/5a677bc0-4222-4f38-a0b1-6e5281f08695.vsidx
.vs/RemoteCtrl/FileContentIndex/cdb2c09a-4cac-4954-94cc-9d5ca4499531.vsidx
